<h1>最近采集www.51job.com 的网址列表</h1>
<% if @url_lists &&  @url_lists.length >0 %>
<table>
	<% @url_lists.each_with_index do |u, i|%>
		<tr>
		<td><%= i %></td><td><%= u[:name] %></td><td><%= u[:url] %></td>
		<td><%= u[:created_at] %></td>
		</tr>
	<% end %>
</table>
<%= paginate @url_lists, :out_window => 2, :inner_window => 2 %>
<% end %>

