<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_enter_url.name %>
</p>

<p>
  <b>Url:</b>
  <%= @admin_enter_url.url %>
</p>

<p>
  <b>Status:</b>
  <%= @admin_enter_url.status %>
</p>


<%= link_to 'Edit', edit_admin_enter_url_path(@admin_enter_url) %> |
<%= link_to 'Back', admin_enter_urls_path %>
