<%- model_class = Company.new.class -%>
<div class="page-header">
  <h1>企业列表</h1>
</div>
<div class="page-containter">
  <div class="main">
    <% @companies.each do |company| %>
      <ul>
        <li>公司：<%= link_to company.name, company_path(company) %></li>
				<% company.contacts.each do |c| %>
					<li><%= c.name %>：<%= c.value %> </li>
				<% end %>
				<li>来源：<%= company.url %></li>
				<li>更新：<%= company.created_at %> </li>
				<li>介绍：<%= company.description.truncate(120) %></li>
      </ul>
      <hr>
    <% end %>
  </div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_company_path,
            :class => 'btn btn-primary' %>
