<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<p>
  <b>Telephone:</b>
  <%= @company.telephone %>
</p>

<p>
  <b>Mobile:</b>
  <%= @company.mobile %>
</p>

<p>
  <b>Fax:</b>
  <%= @company.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>

<p>
  <b>Postcode:</b>
  <%= @company.postcode %>
</p>

<p>
  <b>Location:</b>
  <%= @company.location %>
</p>

<p>
  <b>Description:</b>
  <%= @company.description %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
