<h1>Listing content_urls</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @content_urls.each do |content_url| %>
  <tr>
    <td><%= content_url.weburl %></td>
    <td><%= content_url.status %></td>
    <td><%= link_to 'Show', content_url %></td>
    <td><%= link_to 'Edit', edit_content_url_path(content_url) %></td>
    <td><%= link_to 'Destroy', content_url, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Content url', new_content_url_path %>
