<!DOCTYPE html>
<html>
<head>
  <title>后台</title>
  <link rel="shortcut icon" href="<%= asset_path("big_logo.png") %>" /> 
  <%= stylesheet_link_tag "cpanel" %>
  <%= javascript_include_tag "app" %>
  <%= csrf_meta_tag %>
</head>
<body>
 <div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/">企业客户后台</a>
				<div class="container nav-collapse">
				<ul class="nav">
					<li><%= link_to "首页", '/cpanel' %></li>
				</ul>
				<%= render "common/user_nav" %>
				</div><!--/.nav-collapse -->
			</div>
	</div>
</div>

   <div class="container">
              <%= yield %>
		</div>
</body>
</html>
